---
title: Sam Eful Personal Blog
pageTitle: Personal Blog Home
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/css/style.css" />
    <title>JR.maschietto {{ pageTitle }}</title>
  </head>
  <body>


    {{ content }}


<!-- FOOTER -->
    <footer>
      <nav>
        <ul class="nav-list">
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#projects">Work</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
      <p>&copy; JR Maschietto, 2021</p>
    </footer>


  </body>
</html>
