<nav id="navbar" class="nav">
    <a class="logo" href="#welcome-section"><strong>JR</strong>.m<span class="logo-long">aschietto</span></a>
    <ul class="nav-list">
      <li>
        <a href="#about">About</a>
      </li>
      <li>
        <a href="#projects">Work</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
</nav>