---
layout: main_layout.liquid
title: Main Page
---

<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
  integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
  crossorigin="anonymous"
/>
<link
  href="https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap"
  rel="stylesheet"
/>

<!-- <section id="welcome-section" class="welcome-section big-screen">
  <h1>Welcome</h1>
  <p>to my <span>PORTFOLIO</span></p>
  <img
    loading="lazy"
    class="hero-gif"
    src="img/welcome-gif.gif"
    alt="JR Maschietto, Web Developer, Designer and Game Developer"
  />
  <div class="button-wrap">
    <a class="button" href="#projects"
      ><i class="fas fa-angle-double-down"></i
    ></a>
  </div>
</section> -->

<section class="welcome-section">
  <h1>&lt;<strong class="purple">JR</strong>.maschietto&gt;</h1>
  <div class="button-wrap">
    <a class="button" href="#projects"
      ><i class="fas fa-angle-double-down"></i
    ></a>
  </div>
</section>

{% include top_nav.liquid %}

<!-- ABOUT -->

<section id="about" class="about-section">
  <h2 class="about-section-header section-header">About Me</h2>

  <p>
    My name is Luis Fernando Maschietto Junior, I'm a web developer with vast
    knowledge in frontend and backend development.
  </p>
  <p>
    I also have experience with Adobe designing Softwares and their open source
    alternatives.
  </p>
  <p>
    On the section below you can see some of my projects and for more, you can
    check my GitHub profile at:
    <a href="https://github.com/lufemas">github.com/lufemas</a>
  </p>
  <a class="pdf-link" href="./files/JR.maschietto.pdf" target="_blank"
    >📎 Resume PDF</a
  >
</section>

<!-- PROJECTS -->

<section id="projects" class="projects-section">
  <h2 class="projects-section-header section-header">Some of my projects</h2>

  <div class="projects-grid">
    {%- for project in collections.commercials -%}
    <div>

      <a href="{{ project.data.link }}" target="_blank" class="project project-tile">
        <img
          loading="lazy"
          class="project-image"
          src="{{ project.data.thumb }}"
          alt="project"
        />
        <p class="project-title">
          <span class="code">&lt;</span>
          {{ project.data.projectTitle }}
          <span class="code">&#47;&gt;</span>
        </p>
  
        <div class="project-about">
          <p>{{ project.data.description }}</p>
        </div>
      </a>
    </div>
    {%- endfor -%}
  </div>

  <a
    href="https://codepen.io/FreeCodeCamp/"
    class="btn btn-show-all"
    target="_blank"
    >Sources and More ...<i class="fas fa-chevron-right"></i
  ></a>
</section>

<!-- CONTACT -->

<section id="contact" class="contact-section">
  <div class="contact-section-header">
    <h2>Let's work together...</h2>
    <p>How do you take your coffee?</p>
  </div>
  <div class="contact-links">
    <a
      id="profile-link"
      href="https://github.com/lufemas"
      target="_blank"
      class="btn contact-details"
      ><i class="fab fa-github"></i> GitHub</a
    >
    <a
      href="https://ca.linkedin.com/in/luis-fernando-maschietto-junior-6931a5134"
      target="_blank"
      class="btn contact-details"
      ><i class="fab fa-linkedin"></i> Linkedin</a
    >
    <a href="mailto:maschietto.jr@gmail.com" class="btn contact-details"
      ><i class="fas fa-envelope"></i> maschietto.jr@gmail.com</a
    >
  </div>

  <form class="sendmail">
    <div class="fields">
      <label class="" for="name"
        >Name
        <span class="validation-alert" id="name-validation"
          >( Enter your name )</span
        ></label
      >
      <input class="" type="text" name="name" id="name" />
    </div>

    <div class="fields">
      <label class="" for="email"
        >Email
        <span class="validation-alert" id="email-validation"
          >( Enter a valid Email )</span
        ></label
      >
      <input class="" type="email" name="email" id="email" />
    </div>

    <div class="fields">
      <label class="" for="phone">Phone</label>
      <input class="" type="text" name="phone" id="phone" />
    </div>

    <div class="fields">
      <label class="" for="message"
        >Message
        <span class="validation-alert" id="message-validation"
          >( You forgot the message )</span
        ></label
      >
      <textarea
        class=""
        name="message"
        id="message"
        cols="30"
        rows="10"
      ></textarea>
    </div>

    <input class="btn btn-sendmail" type="submit" id="send-btn" value="Send" />
  </form>
</section>
